@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

/*Global Styles*/
* {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #223586;
    color: white;
    text-align: center;
}

/*Heading*/

.heading {
    text-align: center;
    font-size: 2.5rem;
}

.logo {
    height: 40px;
    padding-right: 5px;
}
/*Game layout */
.game-area {
    background-color: #30469b;
    box-sizing: border-box;
    width: 85%;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
}

.question-area {
    font-size: 2rem;
    margin: auto;
    padding: 50px 0;
}

.question-area span {
    padding: 0 15px;
}

.score-area {
    margin: 5px auto;
    width: 60%;
    font-size: 1.2rem;
}

.controls-area {
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

#score {
    color: green;
    font-weight: bold;
}

#wrong {
    color: red;
    font-weight: bold;
}

.answer-message {
    display: none;
    font-size: 1rem;
}

#answer-box {
    border: none;
    color: #445361;
    display: inline-block;
    height: 40px;
    width: 80px;
    font-size: 1.2rem;
}

.scores {
    display: inline-block;
    padding: 25px;
}

/*Buttons*/
.btn {
    width: 50%;
    height: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    color: white;
}

.btn:focus {
    outline: none;
}

.btn-big {
    padding-top: 6px;
    border-radius: 50%;
    background-color: white;
    border: 10px solid;
    width: 6rem;
    height: 6rem;
    font-size: 65px;
    margin: 10px 10px 30px;
    transition: all 0.5s;
}

.btn-big::after {
    content: attr(data-type);
    font-size: 25px;
    left: -10%;
    color: white;
    position: relative;
}

.btn-minus {
    border-color: #206da7;
    color: #206da7;
}

.btn-minus:active,
.btn-minus:hover {
    background-color: #588eb8;
    color: white;
}

.btn-x {
    border-color: #138586;
    color: #138586;
}

.btn-x:active,
.btn-x:hover {
    background-color: #56abac;
    color: white;
}

.btn-divide {
    border-color: #7f3c9f;
    color: #7f3c9f;
}

.btn-divide:active,
.btn-divide:hover {
    background-color: #7f3c9f;
    color: white;
}

.btn-plus {
    border-color: #523eae;
    color: #523eae;
}

.btn-plus:active,
.btn-plus:hover {
    background-color: #523eae;
    color: white;
}

.btn-answer {
    margin-bottom: 25px;
    background-color: #445361;
    border: 1px transparent;
    border-radius: 20px;
}

.btn-answer:active,
.btn-answer:hover {
    background-color: #b38c0e;
}

/*Media queries*/
@media (max-width: 414px) {
    .btn-big {
        padding: 4px;
        border: 5px solid;
        width: 3rem;
        height: 3rem;
        font-size: 30px;
    }

    .btn-big::after {
        font-size: 0.6rem;
    }

    .question-area {
        padding: 10% 0;
        width: 100%;
    }

    .question-area span {
        padding: 0;
    }

    .answer-message {
        display: block;
    }

    #answer-box {
        display: block;
        margin: 0 auto;
    }

    .btn-answer {
        margin-top: 0;
    }

    .score-area {
        width: 100%;
    }

    .scores {
        margin: 0.5em auto;
        display: block;
        padding: 5px;
    }

    .heading {
        font-size: 2rem;
    }
}

@media (max-width: 320px) {
    .controls-area {
        width: 90%;
        margin: 10px auto;
    }
    .question-area {
        padding: 10px 0;
    }

}